<section>
	<h2>About Me</h2>
	
	<div>
		<img src="{{ site.baseurl }}/assets/images/image.jpg" style="width:100%;">
		Hi! My name is Behrooz Tahanzadeh an this is my personal page on Github.com! If you're interested in what I'm developing, dont feel hesitant to share your ideas by forking my repos :D
	</div>
	
	<div class="box n2">
		<h3>Skills</h3>
		
		<div class="desc">
			<h4>Programming Languages:</h4>
			PHP, JavaScript, ActionScript, Java, CSS, HTML, {LESS}, Processing, jQuery, ...
			
			<br>
			Read more about my skills in <a href="http://ir.linkedin.com/in/behrooztahanzadeh#profile-skills">my Linkedin profile</a>.
		</div>
	</div>
	
	<div class="box n2">
		<h3>Contact</h3>
		
		<div class="desc">
			<h4>website: </h4><a href="http://b-tz.com">b-tz.com</a><br>
			<h4>email: </h4><a href="mailto:behrooz.tahanzadeh@gmail.com">behrooz.tahanzadeh@gmail.com</a><br>
			<h4>facebook: </h4><a href="http://www.facebook.com/behrooz.tahanzadeh">fb/behrooz.tahanzadeh</a><br>
			<h4>google+: </h4><a href="https://plus.google.com/+BehroozTahanzadeh/" rel="publisher">+behrooz.tahanzadeh</a><br>
			<h4>Github: </h4><a href="https://github.com/behrooz-tahanzadeh">github/behrooz-tahanzadeh</a><br>
		</div>
	</div>
	
	<hr class="zero">
</section>

<div id="bottom-spacer"></div>