<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Behrooz Tahanzadeh | Github</title>
	
	<link rel='stylesheet' href='{{ site.baseurl }}/assets/css/style.css' type='text/css' media='all' />
</head>
	
<body>
	<header>
		<div class="main-wrapper">
			<div id="logo">
				<img src="{{ site.baseurl }}/assets/images/logo.jpg" class="cover"/>
				<h1>Behrooz<br>Tahanzadeh</h1>
			</div>
			
			<hr class="zero">
		</div>
	</header>

	<div class="main-wrapper">
<!-- /header.html -->